body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: var(--color-first);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

a:hover {
  color: none;
  text-decoration: none;
}

.navbar {
  background-color: var(--color-third);
  box-shadow: 0 0.5rem 1rem var(--color-negative);
}

.navbar .navbar-toggler {
  border: 1px solid var(--color-zero);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-item {
  padding: 10px;
}

.navbar-nav .nav-item .nav-link {
  color: var(--color-zero);
  font-size: 1.2rem;
  transition: all 200ms linear;
  cursor: pointer;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--color-first);
  transform: scale(1.1);
}

.action {
  background-color: var(--color-third);
  color: var(--color-zero);
  line-height: 1.5;
  transition: all 300ms linear;
}

.action:hover {
  background-color: var(--color-zero);
  color: var(--color-third);
}

.btn-form {
  background-color: var(--color-first);
  color: var(--color-zero);
  line-height: 1.5;
  transition: all 300ms linear;
}

.btn-form:hover {
  border: 1px solid var(--color-first);
  background-color: transparent;
  color: var(--color-first);
}

#servicos,
#proficaz .texto-sobre {
  padding: 30px 35px;
  line-height: 2;
  text-align: center;
}

#proficaz {
  height: 550px;
  padding-top: 70px;
}

#proficaz .texto-sobre {
  margin-top: 50px;
}

#servicos {
  background-color: var(--color-first);
  box-shadow: 0 0.5rem 1rem var(--color-negative);
  padding-top: 70px;
}

#servicos div {
  margin-top: 100px;
  margin-bottom: 100px;
}

.icones {
  width: 100px;
  transition: transform 300ms linear;
}

.icones:hover {
  transform: scale(1.2);
}

.dashboard{
  width: 100vw;
}

.modal-header,
.modal-footer {
  background-color: var(--color-first);
  color: var(--color-zero);
}

.modal-content{
  background: #69ece8;
}

form {
  width: 50%;
  margin: 0 auto;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-third);
  padding: 40px;
}

footer .contatos a {
  transition: text-shadow 300ms linear;
}

footer .contatos a:hover {
  text-shadow: 0px 0px 10px var(--color-zero);
}

@media (min-width: 300px){
  .-modal{
    background-color: #000;
  }
}

@media (max-width: 700px) {
  .carousel .carousel-inner .-modal{
    height: 24rem;
  }

  #proficaz {
    margin-bottom: 280px;
  }
  .navbar-nav .nav-item .nav-link:hover {
    color: var(--color-first);
    transform: none;
  }

  form {
    width: 70%;
  }

  footer {
    display: block;
  }

  footer div {
    display: flex;
    justify-content: space-between;
  }

  footer img {
    display: none;
  }
}
